.static {
    transition: color 0.35s;

    &.active {
        color: #3C3F43;
    }

    font-weight: 800;
}

.magnetic {
    position: absolute;
    color: var(--background);
    opacity: 0;
    transition: opacity .3s;
    z-index: 1;
    font-weight: 800;
}
