.form-container {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        width: 100%; 
        box-sizing: border-box;
        background-color: #F5F5F7;
        color: #705C53;

        &:focus {
            outline: none; 
        }
    }

    button {
        border-radius: 5px;
    }
}
