.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px); /* Эффект блюра */
    z-index: 1000;
}

.form-container {
    display: flex;
    height: 520px;
    width: 500px;
    flex-direction: column;
    border-radius: 15px;
    background-color: var(--primary);

    .auth {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 49px;
        height: 320px;
        padding-top: 39px;

        .title {
            width: 400px;

            span {
                color: var(--secondary);
                font-size: 48px;
                font-weight: bold;
            }
        }
    
        .input-container {
            display: flex;
            flex-direction: column;
            row-gap: 23px;
            height: 320px;
    
            input {
                padding-left: 23px;
                border: 1px solid #ccc;
                border-radius: 13px;
                width: 400px; 
                height: 50px;
                background-color: var(--secondary);
                box-sizing: border-box;
                color: var(--primary);
                font-weight: bold;
        
                &::placeholder {
                    font-weight: 900;
                    font-size: 20px;
                    color: rgb(61, 59, 243, 0.25);
                }
        
                &:focus {
                    outline: none; 
                }
            }
    
            button {
                background-color: #3D3BF3;
                width: 125px;
                height: 60px;
                padding: 10px;
                font-size: 24px;
                font-weight: bold;
                border-radius: 15px;
                border: 2px solid transparent;
                transition: border 0.3s ease-in-out;
        
                &:hover {
                    border: 2px solid var(--primary);
                }
            }
        }
    }

    .auth-alt {
        border-radius: 0 0 15px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200px;
        row-gap: 25.48px;
        background-color: var(--accent);

        .vk-container {
            display: flex;
            flex-direction: column;
            width: 400px;
            row-gap: 9px;
            padding-top: 29px;
            
            span {
                font-size: 24px;
                font-weight: bold;
            }
        }

        .policy {
            width: 401px;

            span {
                font-size: 12px;
                font-weight: light;
                color: var(--secondary);
                opacity: 0.35;
            }
        }
    }
}
