@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #705C53;
  --secondary: #B7B7B7;
  --accent: #F5F5F7;
  --background: $primaryColor;
  --foreground: $primaryColor;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--accent);
    --foreground: var(--primary);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* html,
body,
div#__next,
div#__next > div {
  height: 100%;
}
 */